* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

body {
  height: 100vh;
  /* color: #fff; */
  /* background-color: #000; */
  display: flex;
  justify-content: center;
  align-items: center;
}

:root {
  --clock-deminsion: 500px;
  --element-color: #000;
}

.clock-container {
  width: var(--clock-deminsion);
  height: var(--clock-deminsion);
}

.face {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 5px solid var(--element-color);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.number {
  width: 90%;
  position: absolute;
  font-size: 1.5rem;
  font-weight: bold;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.clock-hand--container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.center {
  width: calc(var(--clock-deminsion) / 20);
  height: calc(var(--clock-deminsion) / 20);
  border-radius: 50%;
  /* border: 1px solid var(--element-color); */
  background-color: var(--element-color);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.clock-hand {
  width: calc(var(--clock-deminsion) / 2.6);
  position: absolute;
  border: 1px solid var(--element-color);
  background-color: var(--element-color);
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translateY(-50%) rotate(-90deg);
  transform-origin: center left;
}

#hour {
  width: calc(var(--clock-deminsion) / 5);
  border: 5px solid var(--element-color);
}

#minute {
  width: calc(var(--clock-deminsion) / 3);
  border: 3px solid var(--element-color);
}

.button-container {
  padding-top: 1rem;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.btn {
  padding: 1rem 0.5rem;
  background-color: transparent;
  border: 2px solid #1a1a1a;
  border-radius: 0.5rem;
  color: #3b3b3b;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  outline: none;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  touch-action: manipulation;
  will-change: transform;
}

.btn:disabled {
  pointer-events: none;
}

.btn:hover {
  color: #fff;
  background-color: #1a1a1a;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.btn:active {
  box-shadow: none;
  transform: translateY(0);
}

#num1 {
  transform: rotate(-60deg);
}
#num2 {
  transform: rotate(-30deg);
}
#num3 {
  transform: rotate(0deg);
}
#num4 {
  transform: rotate(30deg);
}
#num5 {
  transform: rotate(60deg);
}
#num6 {
  transform: rotate(90deg);
}
#num7 {
  transform: rotate(120deg);
}
#num8 {
  transform: rotate(150deg);
}
#num9 {
  transform: rotate(180deg);
}
#num10 {
  transform: rotate(210deg);
}
#num11 {
  transform: rotate(240deg);
}
#num12 {
  transform: rotate(270deg);
}

.number:nth-child(1) span {
  transform: rotate(60deg);
}
.number:nth-child(2) span {
  transform: rotate(30deg);
}
.number:nth-child(3) span {
  transform: rotate(0deg);
}
.number:nth-child(4) span {
  transform: rotate(-30deg);
}
.number:nth-child(5) span {
  transform: rotate(-60deg);
}
.number:nth-child(6) span {
  transform: rotate(-90deg);
}
.number:nth-child(7) span {
  transform: rotate(-120deg);
}
.number:nth-child(8) span {
  transform: rotate(-150deg);
}
.number:nth-child(9) span {
  transform: rotate(-180deg);
}
.number:nth-child(10) span {
  transform: rotate(-210deg);
}
.number:nth-child(11) span {
  transform: rotate(-240deg);
}
.number:nth-child(12) span {
  transform: rotate(-270deg);
}
